@page
@model KeyVideo.CreateVideoModel
@{
    ViewData["Title"] = "CreateVideo";
}
    <div class="text-center">
        <h1 class="display-4">Create A Video</h1>
    </div>
    <form method="post">
        <div class="form-group" style="margin-top:2%">
            <label for="topic">Presentation Topic</label>
            <input type="text" class="form-control border-primary" id="topic" placeholder="Topic" asp-for="topic"/>
        </div>
        <div class="input-group" style="margin-top:2%">
            <input type="search" class="form-control border-primary" id="content" placeholder="Enter a fact, you can add as many as you need" />
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" onclick="add('@Model.currentUser.Id')">Add</button>
            </div>
        </div>
        <div style="overflow-x:hidden;overflow-y:auto;height:160px;">
            <ul class="list-group" id="contentList" style="margin-top:2%;">
            </ul>
        </div>
        <button type="submit" class="btn btn-success" style="width:100%;display:flex;justify-content:center;text-align:center;margin-top:8%" id="send">Create</button>
    </form>
<div id="cleaner" onclick="clean('@Model.currentUser.Id')"></div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/video.js"></script>